:host {
    display: block;
    padding: 20px;
}

.form-container {
    max-width: 100%;
    width: 500px;
    margin: 50px auto;
}

mat-form-field {
    width: 100%;
}

article {
    background-color: #f5c9a8;
    color: #f07838;
    padding: 8px 12px;
    margin-bottom: 4px;
    width: 200px;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.task > * {
    margin: 0;
}

.right {
    text-align: right;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mat-elevation-z8 {
    min-width: 500px;
    max-width: 500px;
    background-color: #f5c9a8;
    color: #f07838;
    margin: auto;
}
.mat-mdc-header-row {
    color: #f07838;
    font-size: large;
    font-weight: bold;
  }
  
  .mat-mdc-cell {
    color: #f07838;
  }
