<ng-container *ngIf="!authService.isAdmin()">
    <div class="form-container">
        <form [formGroup]="form" (submit)="submit()">
            <mat-form-field class="example-full-width">
                <mat-label>Task</mat-label>
                <input formControlName="task" matInput placeholder="task">
                <mat-error>{{ getErrorMessage('task') }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    @for (type of types; track type) {
                    <mat-option [value]="type">{{type}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority">
                    @for (priorityValue of priority; track priorityValue) {
                    <mat-option [value]="priorityValue">{{priorityValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
 
            <mat-form-field>
            <mat-label>Worker</mat-label>
            <mat-select formControlName="worker">
                @for (user of users; track user) {
                <mat-option [value]="user.login">{{user.login}}</mat-option>
                }
            </mat-select>
            <mat-error>{{ getErrorMessage('worker') }}</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
        </form>
    </div>

    <app-trello-list #trelloListComponent></app-trello-list>
</ng-container>
<ng-container *ngIf="authService.isAdmin()">
    <h2>All tasks</h2>
    <div class="task-container">
        <div *ngFor="let task of tasks">
            <article class="top-container">
                <div class="task">
                    <h3>{{task.task}}</h3>
                    <p>{{task.type}}</p>
                    <br />
                    <p><b>Worker:</b> {{task.worker}}</p>
                    <p><b>Creator:</b> {{task.creator}}</p>
                    <p><b>Created:</b> {{task.date}}</p>
                </div>
                <div class="right">
                    <p>{{task.priority}}</p>
                    <mat-icon *ngIf="task.isDone" fontIcon="done" ></mat-icon>
                    <mat-icon *ngIf="!task.isDone" fontIcon="circle" ></mat-icon>
                </div>
            </article>
        </div>
    </div>
    
    <h2>All users</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="login">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
            <td mat-cell *matCellDef="let element">{{element.login}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let element">{{element.password}}</td>
        </ng-container>

        <ng-container matColumnDef="isAuth">
            <th mat-header-cell *matHeaderCellDef>Authorized</th>
            <td mat-cell *matCellDef="let element">{{element.isAuth}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[2, 10, 20]" showFirstLastButtons class="mat-elevation-z8"></mat-paginator>
</ng-container>
