<ng-container *ngIf="model$ | async as model">
    <div class="container" *ngIf="!!model.assignedForMe.length">
        <h2>Assigned for me</h2>
        <div class="task-container">
            <div *ngFor="let task of model.assignedForMe">
                <article>
                    <div class="task">
                        <h3>{{task.task}}</h3>
                        <p>{{task.type}}</p>
                        <br />
                        <p><b>Worker:</b> {{task.worker}}</p>
                        <p><b>Creator:</b> {{task.creator}}</p>
                        <p><b>Created:</b> {{task.date}}</p>
                    </div>
                    <div class="right">
                        <p>{{task.priority}}</p>
                        <mat-icon *ngIf="task.isDone" fontIcon="done" ></mat-icon>
                        <mat-icon *ngIf="!task.isDone" fontIcon="circle" ></mat-icon>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="!!model.assignedFromMe.length">
        <h2>Assigned from me</h2>
        <div class="task-container">
            <div *ngFor="let task of model.assignedFromMe">
                <article>
                    <div class="task">
                        <h3>{{task.task}}</h3>
                        <p>{{task.type}}</p>
                        <br />
                        <p><b>Worker:</b> {{task.worker}}</p>
                        <p><b>Creator:</b> {{task.creator}}</p>
                        <p><b>Created:</b> {{task.date}}</p>
                    </div>
                    <div class="right">
                        <p>{{task.priority}}</p>
                        <mat-icon *ngIf="task.isDone" fontIcon="done" ></mat-icon>
                        <mat-icon *ngIf="!task.isDone" fontIcon="circle" ></mat-icon>
                    </div>
                </article>
            </div>
        </div>
        
    </div>
</ng-container>